* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #182131;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-header {
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-btn {
  width: 250px;
  height: 35px;
  background-color: #707070;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 0 30px;
}
main {
  background-color: #182131;
  min-height: 100vh;
}
.cover {
  position: relative;
  width: 100%;
  height: 300px;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overView {
  position: absolute;
  top: 50px;
  left: 20%;
  background-color: transparent;
}
.overView h2 {
  color: white;
}
.titleHeader {
  color: white;
  font-size: 30px;
  width: 100%;
  margin: 0;
}
.row {
  max-height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
.row::-webkit-scrollbar {
  width: 0;
}
.col {
  min-width: 150px;
  height: 100%;
  background-color: #151f2e;
  border-radius: 10px;
  margin-right: 1px;
}

.col span {
  font-size: 14px;
  max-height: 10px;
}
.cardImg {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}
